@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

div {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  font-family: 'Work Sans', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav > a {
  color: black;
}

nav {
  display: flex;
  gap: 10px;
}

.active-nav {
  font-weight: bolder;
}

.art-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  max-width: 800px;
}

.piece > a {
  color: black;
  text-decoration: none;
}

.art-img {
  width: 300px;
}

.img-detail {
  width: 100%;
}

.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  font-weight: bolder;
}

.edit-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  font-weight: bolder;
  border: 1px black dotted;
  padding: 30px;
}

.edit-form > label {
  display: flex;
  gap: 10px;
}

button {
  align-self: center;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  font-family: 'Work Sans', sans-serif;
  font-size: larger;
  font-weight: bolder;
  padding: 10px;
  cursor: pointer;
}

button:active, button:hover {
  background: black;
  color: white;
}

.edit-delete-buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
}