@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

div {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  font-family: 'Work Sans', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header > a {
  color: black;
}

.active-nav {
  font-weight: bolder;
}

.art-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  max-width: 800px;
}

.piece > a {
  color: black;
  text-decoration: none;
}

.art-img {
  width: 300px;
}

.img-detail {
  width: 100%;
}

.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}